:root {
  --cor-1: #5c1d49;
  --cor-1mais: #4b143a;
  --cor-1menos: #7a3164;
  --cor-1menosmenos: #8a3f73;

  --cor-apoio-1: #f5f5f5;
  --branco: #ffffff;
  --preto: #000;
  --muted: #666666;
}

/* BODY */
body {
  background: var(--cor-apoio-1);
  color: var(--preto);
  font-family: Arial, sans-serif;
}

/* HEADER */
.header-contato {
  background: var(--cor-1);
  color: var(--branco);
  padding: 18px 0;
  position: relative;
}

.btn-voltar {
  margin: -25px 0 0 15px;
  position: absolute;
  left: 15px;
  top: 50%;
  background: var(--cor-1menos);
  border: none;
  color: var(--branco);
  padding: 8px 14px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 6px;
  transition: 0.3s ease;
}
.btn-voltar:hover {
  transform: scale(1.10);
  background: var(--cor-1menosmenos);
}
.btn-voltar:active {
  transform: scale(0.95);
  background: var(--cor-1mais);
}

.card-contato {
  border: none;
  border-radius: 16px;
  box-shadow: 0 12px 30px rgba(88, 24, 69, 0.08);
}

.titulo {
  color: var(--cor-1);
}

.subtitulo {
  color: var(--cor-1);
}

/* TEXTO */
.info-item strong {
  color: var(--cor-1);
}

/* MAPA */
iframe {
  width: 100%;
  border: 0;
  border-radius: 14px;
}

/* RESPONSIVIDADE */
@media (max-width: 576px) {
  .btn-voltar {
    padding: 6px 12px;
  }
}
