.banner img {
  width: 100%;
  height: 330px;
  object-fit: cover;
  border-bottom: 6px solid var(--fem-primaria);
}

.banner h2 {
  text-align: center;
  margin-top: 10px;
  color: var(--fem-primaria);
  font-size: 2rem;
}

.grade-produtos {
  margin: 40px auto;
  display: flex;
  gap: 30px;
  justify-content: center;
}

.produto {
  width: 250px;
  padding: 20px;
  background-color: var(--fem-secundaria);
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 0 10px #00000022;
}

.produto img {
  width: 100%;
  border-radius: 6px;
}

button.add-to-cart {
  margin-top: 10px;
  padding: 10px 16px;
  background-color: var(--fem-primaria);
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 6px;
  transition: 0.3s;
}

button.add-to-cart:hover {
  background-color: #d6428c;
}
