/* --------------------------------------------- */
/*                   MASCULINO                   */
/* --------------------------------------------- */

.banner-masc img {
  border-bottom: 6px solid var(--masc-primaria);
}

.banner-masc h2 {
  color: var(--masc-primaria);
}

.produto {
  background-color: var(--masc-secundaria);
}

button.add-to-cart {
  background-color: var(--masc-primaria);
}

button.add-to-cart:hover {
  background-color: #1d36c2;
}

/* --------------------------------------------- */
/*                    INFANTIL                   */
/* --------------------------------------------- */

.banner-inf img {
  border-bottom: 6px solid var(--inf-primaria);
}

.banner-inf h2 {
  color: var(--inf-primaria);
}

.produto.inf {
  background-color: var(--inf-secundaria);
}

button.add-to-cart.inf {
  background-color: var(--inf-primaria);
}

button.add-to-cart.inf:hover {
  background-color: #d79b00;
}

/* --------------------------------------------- */
/*                   FEMININO                    */
/* --------------------------------------------- */

.banner-fem img {
  border-bottom: 6px solid var(--fem-primaria);
}

.banner-fem h2 {
  color: var(--fem-primaria);
}

.produto.fem {
  background-color: var(--fem-secundaria);
}

button.add-to-cart.fem {
  background-color: var(--fem-primaria);
}

button.add-to-cart.fem:hover {
  background-color: #c2185b;
}
